@model DishVM

@{
    ViewBag.Title = Model.Id > 0 ? "Edit Dish #" + Model.Id : "Creating a Dish";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="Edit" method="post" asp-route-id="@Model.Id" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Price" class="form-label">Price</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="MinimunTime" class="form-label">Minimum Time</label>
                    <input asp-for="MinimunTime" class="form-control" />
                    <span asp-validation-for="MinimunTime" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="MaximunTime" class="form-label">Maximum Time</label>
                    <input asp-for="MaximunTime" class="form-control" />
                    <span asp-validation-for="MaximunTime" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CategoryId" class="form-label">Category</label>
                    <select asp-for="CategoryId" asp-items="Model.Categories" class="form-select">
                        <option value="">Select a Category</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Image" class="form-label">Dish Image</label>
                    <input type="file" asp-for="Image" id="Image" onchange="previewImage(event)" />
                </div>

                <div class="mb-3">
                    <img id="preview" src="@Model.ImageUrl" class="img-thumbnail" style="max-width: 300px; max-height: 300px" />
                </div>

                <div class="d-grid">
                    <button class="btn btn-primary btn-lg">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $("#MinimunTime").mask("99:99")
        $("#MaximunTime").mask("99:99")

        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function() {
                const output = document.getElementById("preview");
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0])
        }
    </script>
}