@model List<Dish>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "List Dishes - Make Orders";
}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Filters</h3>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/images/dishes/6e57dd4a-0bed-400d-8652-5adb1275ed4f.jpeg" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">Dish Name</h5>
                            <p class="card-text">Description of the dish</p>
                            <p class="price">$19.99</p>
                            <p class="card-text">
                                <i class="fas fa-utensils"></i> Category Name
                            </p>
                            <p class="card-text">
                                <i class="fas fa-clock"></i> 10-20 mins
                            </p>
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img src="~/images/dishes/6e57dd4a-0bed-400d-8652-5adb1275ed4f.jpeg" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">Dish Name</h5>
                            <p class="card-text">Description of the dish</p>
                            <p class="price">$19.99</p>
                            <p class="card-text">
                                <i class="fas fa-utensils"></i> Category Name
                            </p>
                            <p class="card-text">
                                <i class="fas fa-clock"></i> 10-20 mins
                            </p>
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img src="~/images/dishes/6e57dd4a-0bed-400d-8652-5adb1275ed4f.jpeg" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">Dish Name</h5>
                            <p class="card-text">Description of the dish</p>
                            <p class="price">$19.99</p>
                            <p class="card-text">
                                <i class="fas fa-utensils"></i> Category Name
                            </p>
                            <p class="card-text">
                                <i class="fas fa-clock"></i> 10-20 mins
                            </p>
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>