<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetRestaurant.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NetRestaurant.UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

</head>
<body>
    <div class="d-flex">
        <nav class="bg-primary text-white vh-100 nav-primary">
            <div class="d-flex justify-content-center py-3">
                <div class="bg-white rounded-circle" style="width: 80px; height: 80px">
                    <img src="~/images/logo-net-restaurant.png" class="img-fluid" />
                </div>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="nav-link">
                        Admin
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Dishes" class="nav-link">
                        Dishes
                    </a>
                </li>

            </ul>
        </nav>

        <div class="flex-grow-1  position-relative main-container">
            <nav class="navbar navbar-expand-lg bg-primary">
                <div class="container-fluid">
                    <span class="navbar-brand text-white">@ViewBag.Title</span>
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <div class="ml-auto d-flex gap-4">
                            <div class="shopping-cart position-relative">
                                <a asp-action="Cart" asp-controller="Order" class="btn btn-light text-primary">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span id="cart-count" class="position-absolute top-0 start-100 translate-middle bagde rounded-pill bg-danger">
                                        0
                                    </span>
                                </a>
                            </div>

                            <a asp-action="Logout" asp-controller="Login" class="btn text-white">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Logout
                            </a>
                        </div>
                    }
                </div>
            </nav>
            <main role="main" class="p-4">
                @RenderBody()
            </main>
            <footer class="bg-primary p-3 position-fixed bottom-0 w-100 text-white d-flex justify-content-center" style="left: 0">
                &copy; 2024 - NetRestaurant - ASP.NET Core MVC Simplified: Master What You Need
            </footer>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
