@model LoginVM

<form asp-action="Index" asp-controller="Login" method="post">
    <div>
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="text-center mt-3">
        <p>
            Don't have an account?
            <a href="#" id="switchToRegister">Register Here</a>
        </p>
    </div>
    <div class="d-grid mt-4">
        <button class="btn btn-primary btn-lg">Login</button>
    </div>
</form>